.note{
    background-color: #feff9c;
    position: relative;
    color: black;
    height: 160px;
    width: 160px;
    margin: 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transform: rotate(-6deg);
    z-index: 1;
    transition: all ease .3s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.note:nth-child(even){
    top: 10px;
    position: relative;
    background-color: #7afcff;
    transform: rotate(4deg);
}

.note:nth-child(3n){
    top: 10px;
    position: relative;
    background-color: #ff7eb9;
    transform: rotate(-3deg);
}

.note:hover{
    transform: scale(1.5);
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.note__text{
    flex: 1;
}

.note__link{
    display: none;
}