.App {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 60px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notes-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note-link{
  margin-top: 10px;
}
